
.img-wrap img{
  width: 150%;
  height: auto;
  display: block;
}
.img-1{
  position: absolute;
  display: block;
  left: 0px;
  top: -80px;
  z-index: 5;
  max-width: calc(190px);
  filter: drop-shadow(0 2mm 2mm rgba(0, 0, 0,0.6));
}

.pokemonCard-wrap {
  position: relative;
  width: 150px;
  max-width: calc(100% - 20px);
  height: 180px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-top: 90px;
  color: color;
  background-color: rgba(230, 230, 230, 0.2);
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.15);
  border-radius: 7px;
  h4 {
    padding-top: 0px;
  }
}
.pokemonCard-wrap:hover {
  transform: scale(1.05);
}
.pokemonCard-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 700ms 400ms ease-out; 
}

.pokemonCard {
  width: 100%;
  height: 100%;
  background-color: rgba(117, 117, 117, 0.5);
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
}

.pokemonNumber,
.pokemonName,
.pokemonType {
  font-family: 'Turret Road', cursive;
}

.pokemonNumber{
  font-size: 14px;
  margin-top: 60px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.pokemonName{
  margin-top: -10px;
  font-size: 20px;
  text-shadow: 0px 3px 20px rgba(0,0,0,0.4);
}

.pokemonType{
  width: 60px;
  height: 23px;
  background-color: black;
  align-self: center;
  border-radius: 5px;
  margin-left: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0,0,0,0.25);
  box-shadow: 0px 3px 2px rgba(0,0,0,0.25);
  margin-top: 130px;
  position: absolute;
  left:0px;
  top:0px;

  a {
    font-size: 14px;
    color:rgba(0,0,0,0.5);
    padding: 0.8em;
  }
}

.pokemonType:hover {
  bottom: 10px;
  top:-3px;
  box-shadow: 0px 5px 2px rgba(0,0,0,0.15);
}